body {
	color: black; /*светло-розовый*/
	font: 12px Tahoma, sans-serif;
	font-family: 'Cormorant Unicase', serif;
	font-family: 'EB Garamond', serif;
	background:linear-gradient(-90deg,#99FFCC,#9999FF);
	border-top: 5px solid #191970;
	margin: 0;
}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #fff;
	padding: 0 10px;
	vertical-align: top;
}

p {
	margin: 20px 0;
}

#wrapper {
	max-width: 960px;
	margin: auto;
}

header {
	padding: 20px 0;
}

/*--------------------------------------------- Навигация */
nav {
	text-align:left;
	padding:10px 0 0 0;
	max-width:962px;
	font: 14px 'Oswald', sans-serif;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #57CCFF;
}

nav li {
    float: left;
}

nav  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #b8fe3f;
}

nav  li.dropdown {
    display: inline-block;
}

nav  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav  .dropdown-content a:hover {background-color: #b8fe3f; color:white}

nav  .dropdown:hover .dropdown-content {
    display: block;
}

/*--------------------------------------------- Заголовок страницы */
#heading {
	background-color:#90ebfd ;
	margin: 10px 0;
	padding-left: 10px;
	padding-bottom:10px;
}

h1 {
	display: inline-block;
	color: #fff;
	font: 40px/40px 'Oswald', sans-serif;
	background-color: #90ebfd ;
	margin: 0;
	padding: 0px 10px;
}

/*--------------img*/
img {
    max-width: 40%;
    height: auto;
	
	
}
/*----------------content*/
.opacity{
	opacity: 1;
	background: rgba(24,161,207,0.7);
	padding:10px;
	margin:0;
	
}
.hstyle{
	color:#ddd;
	text-decoration:none;
	font-size:26px;		
}
.pstyle{
	color:#ddd;
	font-size:20px;
}
/*================test=======================*/
#frm1{
	font-size:26px;
	color:white;
}
button{
	margin:3px;
	padding:5px;
}
input[type=text]{
	width: 100%;
	padding:18px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #555;
	outline:none;
	background-color:pink;
}
input[type=text]:focus {
    background-color: lightblue;
}
#demo{
	font-size:26px;
	color:black;
}